body {
  background-color: #000;
}

canvas {
  border: 2px solid;
}

#myCanvas {
  background-size: 100% 100%;
  background-image: url('https://cms-assets.tutsplus.com/legacy-premium-tutorials/posts/13764/images/13764_38a9e1afcc5a9ca2ccca744429df83c9.jpg');
}

#instructions {
  margin: auto;
  width: 60%;
  padding: 20px;
  display: block;
  font-family: "Press Start 2P", cursive;
  text-align: justify;
  color: #fff
}

li>b {
  font-size: 30px;
}

h1 {
  text-align: center;
}

button {
  display: inline-block;
  border-radius: 8px;
  background-color: #4caf50;
  border: none;
  color: #000;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family: "Press Start 2P", cursive;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

progress{
  -webkit-transform-origin: 0 100%;
  -webkit-transform: rotate(90deg);
  -moz-transform-origin: 0 100%;
  -moz-transform: rotate(90deg);
  -ms-transform-origin: 0 100%;
  -ms-transform: rotate(90deg);
  transform-origin: 0 100%;
  transform: rotate(90deg); 
}

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;

  border: none;

  overflow: hidden;

  border: 1px inset #666;
  background-color: #d8d8d8;
  border-radius: 20px;
}

progress::-moz-progress-bar{
  background: #4caf50;
  border-radius : 20px;
}

progress::-webkit-progress-value {
  background: #4caf50;
  border-radius : 20px;  
}

progress::-webkit-progress-bar {
  background-color:#D8D8D8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; 
  border-radius : 20px ;         
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.card {
  background: url('http://st2.depositphotos.com/1007752/8404/i/170/depositphotos_84042256-stock-photo-beige-cardboard-rice-art-paper.jpg');
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  font-family: 'Cutive Mono', monospace;
  border-radius: 5px;
  margin: 5px;
}

.container {
  padding: 2px 10px;
}

th, td {
  border-bottom: 1px solid #555;
}

#final-links{
  margin: auto;
  font-family: "Press Start 2P", cursive;
  text-align: justify;
  color: #fff
}

#final-links img{
  width: 50px;
}