body {
  background: url("http://teamfannypack.com/images/pagebackground.jpg");
}

canvas {
  border: 2px solid;
}

#wrapper {
  height: 480px;
  width: 640px;
  margin: auto;
  position: relative;
}

#myCanvas {
  background-size: 100% 100%;
}

#instructions {
  margin: auto;
  width: 60%;
  padding: 20px;
  display: block;
  font-family: "Press Start 2P", cursive;
  text-align: justify;
}

b {
  font-size: 30px;
}

h1 {
  text-align: center;
}

button {
  display: inline-block;
  border-radius: 8px;
  background-color: #4caf50;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family: "Press Start 2P", cursive;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;

  border: none;

  width: 270px;
  height: 30px;
  overflow: hidden;

  border: 1px inset #666;
  background-color: #d8d8d8;
  border-radius: 20px;
}

progress::-moz-progress-bar{
  background: #4caf50;
  border-radius : 20px;
}

progress::-webkit-progress-value {
  background: #4caf50;
  border-radius : 20px;  
}

progress::-webkit-progress-bar {
  background-color:#D8D8D8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; 
  border-radius : 20px ;         
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

